
* {
  font-family: 'Raleway', sans-serif;
  /* font styles for header and paragraph
border: 2px solid darkgreen;  */
}

.gables{
  width: auto;
  height: 15vh;
  background-color: #857A76;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 2%;
  }

.comingsoon{
  background-image: url('../img/Pringle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  min-height: 75vh;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingsoon h1,p{
  color: #857A76;
  text-align: center;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.comingsoon div{
  background-color: rgba(255, 255,255, 1.5);
  padding: 0%;
  opacity: 0.8;
  height: 35vh;
  width: 55vw;
  }

P{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

form{
  display: flex;
  justify-content: center;
  align-items: center
  display: block;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 2% auto;
  width: 29.6rem;
  padding: 0%;
}

input{
  background-color: white;
  color: #857A76;
  width: 70%;
  padding: 3%;
}

.submit{
  background-color: #857A76;
  border: #857A76;
  color: white;
  width: 76%;
  padding: 2%;
}


.submit:hover{
  background-color: white;
  color:#857A76;
  border-radius: #857A76;
}

  @media (max-with:720px) {

       input {
      width: 30%;
      padding: 0%;
      color: pink;
    }
    .submit{
      width: 30%;
      padding: 0%;
    }
