
* {
  /* font styles for header and paragraph
border: 2px solid darkgreen;  */
}
@font-face {
  font-family: 'minon';
  src: url(minon.ttf);
}
@font-face {
  font-family: 'freight';
  src: url(Freight.otf);
}

.gables{
  width: auto;
  height: 15vh;
  background-color: #857A76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 2%;
  }

.comingsoon{
  background-image: url('../img/Pringle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:auto;
  min-height:75vh;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comingsoon h1,p{
  color: #857A76;
  text-align: center;
  font-size: 34px;
  font-family:'freight';
}

.comingsoon div{
  background-color: rgba(255, 255,255, 1.5);
  padding: 0%;
  opacity: 0.8;
  height: 38vh;
  width: 45vw;
  }

P{
  font-size: 20px;
  font-family: 'minion';
}

form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  font-size: 18px;
  font-family: 'minion';
  text-align: center;
  margin: 2% auto;
  width: 29.6rem;
  padding: 0%;
}

input{
  background-color: white;
  color: #857A76;
  width: 40%;
  padding: 2%;
  font-family:'minion';
  font-size: 18px;
  border: 1px solid #857A76;
}

.submit{
  background-color: #857A76;
  border: #857A76;
  color: white;
  width: 50%;
  padding: 2%;
  font-family:'minion';
  font-size: 16px;
  border: 1px solid #857A76;
}

.submit:hover{
  background-color: white;
  color:#857A76;
  border-radius: #857A76;
}

@media (max-width: 960px) {

.comingsoon h1 {
  font-size: 55px;
}

.comingsoon p{
  font-size: 30px;
  padding: 2px;
}
  .comingsoon div {
    width:auto;
    }

    form {
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
}
